@model HomeViewModel 
@{
    ViewData["Title"] = $"{Model.UserName}'s groups";
}

<h1>Hi @Model.UserName</h1>
<p>You are currently in @Model.Groups.Count groups</p>

<input type="button" value="Create Group"/>

@foreach (var item in Model.Groups)
{
    <h3>@item.Name</h3>
}