@model HomeViewModel
@{
    ViewData["Title"] = $"{Model.UserName}'s groups";
}

<h2>Hi @Model.UserName</h2>

<a asp-action="Create" asp-controller="Group">Create group</a>

<h4>Groups you're in:</h4>
@if (Model.Groups != null && Model.Groups.Any())
{
    <p>You are currently in @Model.Groups.Count groups</p>

    foreach (var item in Model.Groups)
    {
        <a asp-controller="Group" asp-route-id="@item.Id">@item.Name</a>
    }
}
else
{
    <p>You're not in any groups yet</p>
}