@model Error
@{
    ViewData["Title"] = $"Error - {Model.ErrorCode}";
}

<h1 class="text-danger">Holy Shit Snacks!</h1>
<h3>
    @Model.ErrorMessage
</h3>
<p>
    @Model.Description
</p>

<p><strong>Perhaps you should go <a asp-action="Index" asp-controller="Home">Home</a>?</strong></p>